<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/jsone/zy/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/jsone/zy/bootstrap3/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/jsone/zy/bootstrap3/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/jsone/zy/bootstrap3/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/jsone/zy/bootstrap-table/bootstrap-table.css}">
    <link rel="stylesheet" th:href="@{/jsone/zy/font-awesome-4.7.0/css/font-awesome.css}">
    <script th:src="@{/jsone/zy/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{/jsone/zy/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/jsone/zy/bootstrap-bootbox/bootbox.js}"></script>
    <script th:src="@{/jsone/zy/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/jsone/zy/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <link rel="stylesheet" th:href="@{/jsone/zy/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}">
    <script type="text/javascript" th:src="@{/jsone/bootstrap-table/extensions/export/bootstrap-table-export.js}"></script>
    <script type="text/javascript" th:src="@{/jsone/tableExport.js}"></script>
</head>
<body>
<div id="pageContainer" class="col-md-12 col-xs-12 pdr0">
    <div class="panel cz-panel">
        <div class="panel-heading">
            <h3>
                <b>编辑商品 (编号: <font th:text="${commodity.commodityNo}"></font>)</b>
            </h3>
        </div>
        <div class="panel-body">
            <form id="mainForm" autocomplete="off">
                <input type="hidden" name="commodityNo" th:value="${commodity.commodityId}">
                <div class="form-section">
                    <h4>基本信息</h4>
                </div>
                <div class="row">
                    <div class="form-horizontal form-condensed col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-sm-1 nopd">商品规格</label>
                            <div class="col-sm-3">

                                <input type="text" class="form-control" name="SpecText" th:value="${commodity.commoditySpecificationId}">
                            </div>
                            <label class="control-label col-sm-1 nopd">商品颜色</label>
                            <div class="col-sm-3">
                                <input type="color" name="ColorText" th:value="${commodity.commodityColorId}">
                            </div>
                            <label class="control-label col-sm-1 nopd">商品单位</label>
                            <div class="col-sm-3">

                                <input type="text" name="UnitId" class="demo-default" th:value="${commodity.commodityUnitId}">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1 nopd">商品描述</label>
                            <div class="col-sm-11">
                                <textarea cols="30" rows="5" class="form-control" style="height:80px;" name="Description" th:text="${commodity.commodityImgtext}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1 nopd">商品编号</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="No" th:value="${commodity.commodityNo}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1 nopd">商品状态</label>
                            <div class="col-sm-3">
                                <select class="selectpicker show-tick form-control" name="State">
                                    <option value="1" selected="selected" >上架</option>
                                    <option value="2" th:${commodity.commodityState=="下架"?"selected":"">下架</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <h4>价格信息</h4>
                </div>
                <div class="row">
                    <div class="form-horizontal form-condensed col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-sm-1 nopd">默认售价</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="SalePrice" th:value="${commodity.commodityDefaultPrice}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-condensed col-sm-12">
                        <button type="button" class="btn btn-success" onclick="saveForm()">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function saveForm(){
        alert(新增)
        var data = $('#mainForm').serializeObject();
    }
</script>
</body>
</html>