<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/zy/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/zy/bootstrap3/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/zy/bootstrap3/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/zy/bootstrap3/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/zy/bootstrap-table/bootstrap-table.css}">
    <link rel="stylesheet" th:href="@{/zy/font-awesome-4.7.0/css/font-awesome.css}">
    <script th:src="@{/zy/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{/zy/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/zy/bootstrap-bootbox/bootbox.js}"></script>
    <script th:src="@{/zy/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/zy/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <link rel="stylesheet" th:href="@{/zy/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}">
    <script type="text/javascript" th:src="@{/zy/bootstrap-table/extensions/export/bootstrap-table-export.js}"></script>
    <script type="text/javascript" th:src="@{/zy/tableExport.js}"></script>
</head>
<body>
<form id="formid" class="form-inline">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="form-group">
        <label for="username">名称</label>
        <input type="text" class="form-control" id="unitname" placeholder="名称">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-success" onclick="search()">搜索</button>
        <button type="button" class="btn btn-primary" onclick="reset()">重置</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-error" onclick="addunit()">添加新项</button>
    </div>

</form>
<table id="tableid"></table>
<script type="text/javascript">
   function search(){
        $("#tableid").bootstrapTable('refresh',
            {query: {
                    "unitname":$("#unitname").val(),
                }
            }
        );
    }

    //展示表格
    $(function(){
        $("#tableid").bootstrapTable({
            url:"/unit/queryunit",
            method:"post",
            striped:true,
            clickToSelect:true,
            //只允许选中一行
            singleSelect:true,
            //选中行是不选中复选框或者单选按钮
            clickToSelect:true,
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId:"unitid",                 //每一行的唯一标识，一般为主键列
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,                  //是否显示父子表
            sortOrder: "asc",                   //排序方式
            //search:true,
            //showColumns:true,
            //showRefresh:true,//是否显示刷新按钮
            detailView:false,//设置为 true 可以显示详细页面模式。
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
            striped:true,
            showExport: true,  //是否显示导出按钮
            buttonsAlign:"right",  //按钮位置
            exportTypes:['excel'],  //导出文件类型
            exportDataType: "all",
            contentType:'application/x-www-form-urlencoded;charset=UTF-8',   //数据编码纯文本  offset=0&limit=5
            toolbar:'#tabToolBar',   //  工具定义位置
            columns:[
                {checkbox:true},
                {field:'unitid',title:'id'},
                {field:'unitname',title:'名称'},
                {field:'unitrank',title:'排序'},
                {field:'unitremark',title:'备注'},
                {field:'123',title:'操作',formatter:function(value,row,index){
                    var see="<input type='button' value='删除' onclick='deleteunitbyid("+row.unitid+")'/>";
                    return see;
                }}
            ],

            queryParams:function(params){
                var whereParams={
                    "pageSize":params.limit,
                    "start":params.offset,
                    "unitname":$("#unitname").val(),
                }
                return whereParams;
            } ,
            //前台--排序字段
            //sortName:'proPrice',
            //sortOrder:'desc',
            //前台--搜索框
            search:false,
            //启动回车键做搜索功能
            searchOnEnterKey:false,
            //分页方式   后台请求的分页方式
            sidePagination:'server',
            pagination: true,                   //是否显示分页（*）
            pageNum: 1,                       //每页的记录行数（*）
            pageSize: 2,                       //每页的记录行数（*）
            pageList:[2,4,6],        //可供选择的每页的行数（*）

        })
    })

   function getJspHtml(urlStr){
       var  jspHtml = "";
       $.ajax({
           url:urlStr,
           type:'post',
           //同步的ajax
           async:false,
           success:function(data){
               //alert(data);//data--addProduct.jsp页面内容
               jspHtml = data;
           },
           error:function(){
               bootbox.alert("ajax失败");
           }
       });
       return jspHtml;
   }

   function  dialog(HTMLurl,submitUrl,title){
       var dialog = bootbox.dialog({
           title: title,
           message: getJspHtml(HTMLurl),   //调用方法
           buttons:{
               "save":{
                   label: '保存',
                   //自定义样式
                   className: "btn-success",
                   callback: function() {
                       var unitnames=document.getElementById("unitnames").value;
                       var unitrank=document.getElementById("unitrank").value;
                       var unitremark=document.getElementById("unitremark").value;

                       if(unitnames==""|| unitrank=="" || unitremark==""){
                           alert("不能为空值")
                           return false;
                       }else{
                           $.ajax({
                               url:submitUrl,
                               type:'post',
                               data:$("#logForm").serialize(),
                               success:function(data){
                                   $("#tableid").bootstrapTable('refresh');
                               },
                               error:function(){
                                   bootbox.alert("ajax失败");
                               }
                           });

                           return true;
                       }

                   }
               },
               "unSave":{
                   label: '取消',
                   //自定义样式
                   className: "btn-info",
                   callback: function() {
                       // return false;  //不关闭
                   }
               }
           }
       });
   }

   //新建
   function addunit(){
       dialog("/unit/goodsinset","/unit/addunit","添加新项");
   }

   //单删
   function deleteunitbyid(id){
       $.ajax({
           url:"/unit/deleteunitbyid",
           type:"post",
           data:{"id":id},
           success:function(){
               search();
           }
       })
   }
</script>
</body>
</html>