<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/js/bootstrap3/css/bootstrap-theme.css}">
    <script th:src="@{/js/bootstrap3/js/bootstrap.js}"></script>
</head>
<body>


    <form  class="form-horizontal" role="form" th:action="@{/BrandName/saveBrandName}"   method="post" >

    <div id="pageContainer" class="col-md-12 col-xs-12 pdr0">
        <div class="panel cz-panel">
                <h3>
                    <b>新建品名</b>
                </h3>


                <button type="submit" class="btn btn-default" onclick="saveFile()">添加</button>

<!--
            <button type="submit" class="btn btn-default" onclick="history.back()"><i class="cz-ico cz-ico-back"></i>返回</button>
-->



                    <a onclick="history.back()"><i class="btn btn-default">返回</i></a>

            </div>
            <div class="panel-body">
                <div class="form-section">
                    <div class="alert alert-info">基本信息</div>
                </div>
                <div class="row">
                    <div class="form-horizontal form-condensed col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-sm-1 nopd">名称</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="brandName">
                            </div>


                        </div>


                        <div class="form-group">

                    <label class="control-label col-sm-0 nopd">品牌</label>
                           <div class="col-sm-3">

                           <select class="form-control selectpicker" id ="State2" name="brId">
                                <option>全部</option>
                            </select>
                        <label class="control-label col-sm-0 nopd">分类</label>
                        <select class="form-control selectpicker" id ="State3" name="brandType">
                            <option>全部</option>
                        </select>
                        </div>

                    </div>








                        <div class="form-group">
                            <label class="control-label col-sm-1 nopd">描述</label>
                            <div class="col-sm-11">
                                <textarea cols="30" rows="5" class="form-control" style="height:80px;" name="brandDescribe"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1 nopd">备注</label>
                            <div class="col-sm-11">
                                <textarea cols="30" rows="5" class="form-control" style="height:80px;" name="brandNote"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-1 nopd">编号</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="brandNo" placeholder="可选, 由系统生成">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <h4>价格信息</h4>
                </div>
                <div class="row">
                    <div class="form-horizontal form-condensed col-sm-12">
                        <div class="form-group">
                            <label class="control-label col-sm-1 nopd">普通税率%</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="brandOrdinarytax" value="5">
                            </div>
                            <label class="control-label col-sm-1 nopd">增值税率%</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="brandTheVAT" value="17">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<!-- content end -->


<!--<form  class="form-inline" role="form" th:action="@{/test/saveFile}"   method="post" >
    <div>
    <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">名称</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="firstname" placeholder="">
        </div>
    </div>
    </div>

    <div class="form-group">
        <label for="proName">品牌</label>
        <select class="form-control selectpicker" id ="State2">
            <option>全部</option>
        </select>
    </div>

</form>-->
<script>
    $(function(){
        $.ajax({
            url:"/BrandName/queryBrandList",
            type:"post",
            success:function(data){
                var coment="";
                coment+="<option>全部</option>";

                for ( var i in data) {
                    coment+=" <option value="+data[i].brandId+">"+data[i].brandName+"</option>";
                }

                $("#State2").html(coment);
            },error:function(){
                alert("error");
            }
        })
    })



    $(function(){
        $.ajax({
            url:"/BrandName/queryClassTree",
            type:"post",
            success:function(data){
                var coment="";
                coment+="<option>全部</option>";

                for ( var i in data) {

                    coment+=" <option value="+data[i].id+">"+data[i].text+"</option>";

                }

                $("#State3").html(coment);
            },error:function(){
                alert("error");
            }
        })
    })

</script>
</body>
</html>