<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- bootstrap  -->
    <script th:src="@{/js/bootstrap/bootstrap3/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap3/css/bootstrap.css}"></link>
    <!-- 左侧导航树 -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-treeview/bootstrap-treeview.min.css}"></link>
    <script th:src="@{/js/bootstrap/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
    <!-- 选项卡 -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.css}"></link>
    <script th:src="@{/js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>
    <!-- 表格 -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-table/bootstrap-table.css}"></link>
    <script th:src="@{/js/bootstrap/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <!-- 时间 -->
    <script th:src="@{/js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}"></link>
    <!-- 弹框 -->
    <script th:src="@{/js/bootstrap/bootstrap-bootbox/bootbox.js}"></script>
    <!-- 图片上传 -->
    <script th:src="@{/js/bootstrap/bootstrap-fileinput/js/fileinput.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap-fileinput/js/locales/zh.js}"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-fileinput/css/fileinput.css}"></link>

    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <form id="addForm" class="form-horizontal">

        <div class="row">
            <div class="col-xs-2">编号:</div>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="brandNumber" placeholder="请输入编号">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">品名:</div>
            <div class="col-xs-4">
                <input type="text" class="form-control" name="brandName" placeholder="请输入品名">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">视频:</div>
            <div class="col-xs-4">
                <input type="hidden" id="testMove" name="brandMovie" />
                <input type="file" multiple class="projectfile" accept="image/*" name="brandMovie" id="move">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">封面:</div>
            <div class="col-xs-4" style="width:400px">
                <input type="hidden" id="testimg" name="brandCover" />
                <input type="file" multiple class="projectfile" accept="image/*" name="brandCover" id="img">
            </div>
        </div>

    </form>
</div>
</body>
<script>
    $('#img').fileinput({
        language: 'zh', //设置语言
        uploadUrl: '/brand/upload', //上传的地址
        allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
        showUpload: true, //是否显示上传按钮
        showCaption: false,//是否显示标题
        browseClass: "btn btn-primary", //按钮样式
        //dropZoneEnabled: false,//是否显示拖拽区域
        //minImageWidth: 50, //图片的最小宽度
        //minImageHeight: 50,//图片的最小高度
        //maxImageWidth: 1000,//图片的最大宽度
        //maxImageHeight: 1000,//图片的最大高度
        //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
        //minFileCount: 0,
        maxFileCount: 2, //表示允许同时上传的最大文件个数
        enctype: 'multipart/form-data',
        validateInitialCount:true,
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

    }).on('fileuploaded', function(event, data, previewId, index) {
        var imgval = $('#testimg').val();
        if(imgval == null || imgval == "" || imgval == undefined){
            imgval =data.response.img;
        }else{
            imgval +=","+data.response.img;
        }
        $('#testimg').val(imgval);
    });

    $('#move').fileinput({
        language: 'zh', //设置语言
        uploadUrl: '/brand/upload2', //上传的地址
        allowedFileExtensions: ['mp4', 'rmvb', 'flv','rm'],//接收的文件后缀
        showUpload: true, //是否显示上传按钮
        showCaption: false,//是否显示标题
        //最大上传文件的大小（KB）
        maxFileSize : 200000,
        browseClass: "btn btn-primary", //按钮样式
        //dropZoneEnabled: false,//是否显示拖拽区域
        //minImageWidth: 50, //图片的最小宽度
        //minImageHeight: 50,//图片的最小高度
        //maxImageWidth: 1000,//图片的最大宽度
        //maxImageHeight: 1000,//图片的最大高度
        //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
        //minFileCount: 0,
        maxFileCount: 2, //表示允许同时上传的最大文件个数
        enctype: 'multipart/form-data',
        validateInitialCount:true,
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

    }).on('fileuploaded', function(event, data, previewId, index) {
        var imgval = $('#testMove').val();
        if(imgval == null || imgval == "" || imgval == undefined){
            imgval =data.response.move;
        }else{
            imgval +=","+data.response.move;
        }
        $('#testMove').val(imgval);
    });


    $('.date').datetimepicker({
        language: 'zh-CN',//显示中文
        format: 'yyyy-mm-dd',//显示格式 hh:ii:ss
        minView: "month",//设置只显示到月份
        initialDate: new Date(),//初始化当前日期
        autoclose: true,//选中自动关闭
        todayBtn: true//显示今日按钮
    });
</script>
</html>