<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/jsone/zy/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/jsone/zy/bootstrap3/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/jsone/zy/bootstrap3/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/jsone/zy/bootstrap3/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/jsone/zy/bootstrap-table/bootstrap-table.css}">
    <link rel="stylesheet" th:href="@{/jsone/zy/font-awesome-4.7.0/css/font-awesome.css}">
    <script th:src="@{/jsone/zy/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{/jsone/zy/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/jsone/zy/bootstrap-bootbox/bootbox.js}"></script>
    <script th:src="@{/jsone/zy/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/jsone/zy/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <link rel="stylesheet" th:href="@{/jsone/zy/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}">
    <script type="text/javascript" th:src="@{/jsone/bootstrap-table/extensions/export/bootstrap-table-export.js}"></script>
    <script type="text/javascript" th:src="@{/jsone/tableExport.js}"></script>



</head>
<body>


<form id="formid" class="form-inline">

       <div>
   <div class="form-group">
        <label for="proName">品名编号</label>
        <input type="text" class="form-control" value=""  id="equipmentname" placeholder=" 输入品牌编号,品牌名称">
    </div>


    <div class="form-group">
        <label for="proName">品名状态 关键</label>
        <select class="form-control selectpicker" id ="State">
                <option>全部</option>
                <option  value="在架">在架</option>
                <option value="下架">下架</option>
            </select>
        &nbsp &nbsp &nbsp
        <label for="proName">品名品牌</label>
        <select class="form-control selectpicker" id ="State2">
            <option>全部</option>
        </select>
        &nbsp &nbsp &nbsp
            <label for="proName">品名品类</label>
            <select class="form-control selectpicker" id ="State3">
                <option>全部</option>
            </select>
        &nbsp &nbsp &nbsp
        <button type="button" class="btn btn-success" onclick="search()">搜索</button>
        &nbsp &nbsp &nbsp
        <button type="button" class="btn btn-success" onclick="queryAdd()">添加品名</button>
    </div>
       </div>

    <!--<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">其余搜索</button>-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="proName">设备编号</label>
                        <input type="text" class="form-control" value=""  id="equipmentnumbers">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="proName">设备名称</label>
                        <input type="text" class="form-control" value=""  id="equipmentnames">
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="proName">溯源结果</label>
                        <select  id="traceabilityresult"  class="form-control">
                            <option value=""  ${c.traceabilityresult==""?"selected":""}>请选择</option>
                            <option value="1" ${c.traceabilityresult=='1'?"selected":""}>合格</option>
                            <option value="2" ${c.traceabilityresult=='2'?"selected":""}>符合使用要求</option>
                        </select>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="proName">溯源类别</label>
                        <select  id="traceabilitytype"  class="form-control">
                            <option value=""  ${c.traceabilitytype==""?"selected":""}>请选择</option>
                            <option value="1" ${c.traceabilitytype=='1'?"selected":""}>检定</option>
                            <option value="2" ${c.traceabilitytype=='2'?"selected":""}>校准</option>
                            <option value="3" ${c.traceabilitytype=='2'?"selected":""}>自校</option>
                            <option value="4" ${c.traceabilitytype=='2'?"selected":""}>期间核查</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-success" onclick="search()">搜索</button>
                    <button type="reset" class="btn btn-default">重置</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</form><br>
<!--<shiro:hasPermission name="tracing:insert">
    <button type="button" class="btn btn-danger" onclick="daochu()">导出</button>
</shiro:hasPermission>
<shiro:hasPermission name="tracing:select">
    <button type="button" class="btn btn-danger" onclick="chakan()">查看</button>
</shiro:hasPermission>-->
<table id="tableid"></table>
<script type="text/javascript">

    //条查
    search();
    function search(){
        $("#tableid").bootstrapTable('refresh',
            {query: {
                    "brandState":$("#State").val(),
                    "brandName":$("#State2").val(),
                    "brandNo":$("#equipmentname").val(),
                    "brandName":$("#brandName").val(),
                    "text":$("#State3").val(),


                }
            }
        );
    }

    //展示表格
    $(function(){
        $("#tableid").bootstrapTable({
            url:"/BrandName/selectBrandNameList",
            method:"post",
            striped:true,
            clickToSelect:true,
            //只允许选中一行
            singleSelect:true,
            //选中行是不选中复选框或者单选按钮
            clickToSelect:true,
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            uniqueId:"equipmentid",                 //每一行的唯一标识，一般为主键列
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,     //  最少留两列
            detailView: false,                  //是否显示父子表
            sortOrder: "asc",                   //排序方式
            //search:true,
            //showColumns:true,
            //showRefresh:true,//是否显示刷新按钮
            detailView:false,//设置为 true 可以显示详细页面模式。
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
            striped:true,
            showExport: true,  //是否显示导出按钮
            buttonsAlign:"right",  //按钮位置
            exportTypes:['excel'],  //导出文件类型
            exportDataType: "all",
            Icons:'glyphicon-export',
            exportOptions:{
                ignoreColumn: [0],  //忽略某一列的索引
                fileName: '工作任务表',  //文件名称设置
                worksheetName: 'sheet1',  //表格工作区名称
                tableName: '工作任务表',
                excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],
            },
            //发送到服务器的数据编码类型
            contentType:'application/x-www-form-urlencoded;charset=UTF-8',   //数据编码纯文本  offset=0&limit=5
            toolbar:'#tabToolBar',   //  工具定义位置
            columns:[
                {checkbox:true},
/*
                {field:'brandId',title:'id'},
*/
                {field:'brandNo',title:'编号'},
                {field:'brandName',title:'名称'},
                {field:'text',title:'分类'},
               {field:'brand',title:'品牌'},
                /*  {field:'brandVideo',title:'视频'},*/
                {field:'brandState',title:'状态'},
                {field:'123',title:'操作',formatter:function(value,row,index){
                        return '<a href="javascript:openUserEdit('+row.brandId+');">修改</a>| |<a href="javascript:openUserEdit(\'+row.brandId+\');">添加图片</a>';
                    }}
            ],

            queryParams:function(params){
                var whereParams={
                    "pageSize":params.limit,
                    "start":params.offset,
                    "brandState":$("#State").val(),
                    "brandNo":$("#equipmentname").val(),
                    "brandName":$("#State2").val(),
                    "text":$("#State3").val(),



                }
                return whereParams;
            } ,
            //前台--排序字段
            //sortName:'proPrice',
            //sortOrder:'desc',
            //前台--搜索框
            search:false,
            //启动回车键做搜索功能
            searchOnEnterKey:false,
            //分页方式   后台请求的分页方式
            sidePagination:'server',
            pagination: true,                   //是否显示分页（*）
            pageNum: 1,                       //每页的记录行数（*）
            pageSize: 5,                       //每页的记录行数（*）
            pageList:[2,4,6],        //可供选择的每页的行数（*）

        })
    })

    function getJspHtml(urlStr){
        var  jspHtml = "";
        $.ajax({
            url:urlStr,
            type:'post',
            //同步的ajax
            async:false,
            success:function(data){
                //alert(data);//data--addProduct.jsp页面内容
                jspHtml = data;
            },
            error:function(){
                bootbox.alert("ajax失败");
            }
        });
        return jspHtml;
    }

    function  dialog(HTMLurl,submitUrl,title){
        var dialog = bootbox.dialog({
            title: title,
            message: getJspHtml(HTMLurl),   //调用方法
            buttons:{
                "unSave":{
                    label: '取消',
                    //自定义样式
                    className: "btn-info",
                    callback: function() {
                        // return false;  //不关闭
                    }
                }
            }
        });
    }


    //查看
    function chakan(){
        var id=$("[name='chk']:checked").val();
        dialog("../equ/tiaozhuantankuang.do?id="+id,"../equ/addnews.do","查看");
    }








      $(function(){
           $.ajax({
               url:"/BrandName/queryBrandNameType",
               type:"post",
               success:function(data){
                var coment="";
                   coment+="<option>全部</option>";

                   for ( var i in data) {
                    coment+=" <option value='"+data[i].brandName+"'>"+data[i].brandName+"</option>";
                }

               $("#State2").html(coment);
               },error:function(){
                   alert("error");
               }
           })
       })
   $(function(){
        $.ajax({
            url:"/BrandName/queryBrandNameTree",
            type:"post",
            success:function(data){
                var coment="";
                coment+="<option>全部</option>";

                for ( var i in data) {
                    coment+=" <option >"+data[i].brandName+"/"+data[i].text+"</option>";
                }

                $("#State3").html(coment);
            },error:function(){
                alert("error");
            }
        })
    })


function  queryAdd(){
    location.href="/BrandName/queryAdd";
}







</script>





</body>
</html>