<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 引入核心jquery -->
    <script th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <!-- bootstrap  -->
    <script th:src="@{/js/bootstrap/bootstrap3/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap3/css/bootstrap.css}"></link>
    <!-- 左侧导航树 -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-treeview/bootstrap-treeview.min.css}"></link>
    <script th:src="@{/js/bootstrap/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
    <!-- 选项卡 -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.css}"></link>
    <script th:src="@{/js/bootstrap/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>
    <!-- 表格 -->
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-table/bootstrap-table.css}"></link>
    <script th:src="@{/js/bootstrap/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
    <!-- 时间 -->
    <script th:src="@{/js/bootstrap/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}"></link>
    <!-- 弹框 -->
    <script th:src="@{/js/bootstrap/bootstrap-bootbox/bootbox.js}"></script>
    <!-- 图片上传 -->
    <script th:src="@{/js/bootstrap/bootstrap-fileinput/js/fileinput.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap-fileinput/js/locales/zh.js}"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap-fileinput/css/fileinput.css}"></link>

    <title>Title</title>
</head>
<body>
<!--条查 -->
<div id="toolbar">
    <form class="form-inline">
        <div class="form-group">
            <label for="userName">商品名</label>
            <input type="text" class="form-control" id="userName" placeholder="请输入用户名">
        </div>
        <button type="button" onclick="searchUser()" class="btn btn-info glyphicon glyphicon-search">搜索</button>
    </form>
    <button type="button" onclick="openAddDialog()" class="btn btn-info glyphicon glyphicon-plus">新增</button>
    <button type="button" onclick="delUser()" class="btn btn-danger glyphicon glyphicon-minus">批删</button>

</div>


<div class="table" id="myTable"></div>

<!-- 展示视频 -->
<div id="videos" style="width:600px;height:400px;"></div>


</body>
    <script>
        //页面加载
        $(function(){
            initMyTable();
        })


        //新增
        function openAddDialog(){
            bootbox.dialog({
                size:"big",
                title:"添加",
                message:createAddContent("/brand/toAddBrand"),
                buttons : {
                    "success" : {
                        "label" : "<i class='icon-ok'></i> 保存",
                        "className" : "btn-sm btn-success",
                        "callback":function(){
                            $.ajax({
                                url:'/brand/addBrand',
                                type:'post',
                                data:$("#addForm").serialize(),
                                dataType:'json',
                                success:function(data){

                                    $('#myTable').bootstrapTable('refresh');
                                },error:function(){
                                    $('#myTable').bootstrapTable('refresh');
                                }
                            })


                        }
                    },
                    "cancel" : {
                        "label" : "<i class='icon-info'></i> 取消",
                        "className" : "btn-sm btn-danger",
                        "callback":function(){

                        }
                    }
                }
            })
        }
        //修改
        function openUpdaeDialog(id){
            bootbox.dialog({
                size:"big",
                title:"添加用户",
                message:createAddContent("/brand/toUpdateBrand?brandId="+id),
                buttons : {
                    "success" : {
                        "label" : "<i class='icon-ok'></i> 保存",
                        "className" : "btn-sm btn-success",
                        "callback":function(){
                            $.ajax({
                                url:'/brand/addBrand',
                                type:'post',
                                data:$("#addForm").serialize(),
                                dataType:'json',
                                success:function(data){
                                    $('#myTable').bootstrapTable('refresh');
                                },error:function(){
                                    $('#myTable').bootstrapTable('refresh');
                                }
                            })


                        }
                    },
                    "cancel" : {
                        "label" : "<i class='icon-info'></i> 取消",
                        "className" : "btn-sm btn-danger",
                        "callback":function(){

                        }
                    }
                }
            })
        }

        var res;
        function createAddContent(url){
            $.ajax({
                url:url,
                async:false,
                success:function(data){
                    res = data;
                }
            });
            return res;
        }



        //删除
        function delUser(){
            var arr = $('#myTable').bootstrapTable('getSelections');
            if (arr.length<= 0){
                bootbox.alert({
                    size:"small",
                    title:"提示",
                    message:"请选择需要删除的数据",
                    callback:function(){

                    }
                });
                return;
            }
            bootbox.confirm({
                size:"small",
                message:"你确定要删除吗",
                buttons:{
                    confirm:{
                        label:'确定',
                        className:'btn-success'
                    },
                    cancel:{
                        label:'取消',
                        className:'btn-danger'
                    }
                },
                callback:function(result){
                    if(result){
                        var ids = "";
                        for (var i = 0; i < arr.length; i++) {
                            ids += ids == "" ? arr[i].brandId : "," + arr[i].brandId;
                        }
                        $.ajax({
                            url:'/brand/deleteBrandById',
                            type:'post',
                            data:{
                                ids:ids
                            },
                            dataType:'json',
                            success:function(data){
                                if (data) {
                                    $('#myTable').bootstrapTable('refresh');
                                }else{
                                    $.messager.alert('提示','删除失败','error')
                                }
                            }
                        })

                    }

                }
            })

        }
        //条件查询
        function searchUser(){
            $('#myTable').bootstrapTable('refresh');
        }


        //查询uiser表
       function initMyTable(){
            $('#myTable').bootstrapTable({
                toolbar:'#toolbar',
                url:'/brand/queryBrandList',//获取数据地址
                pagination:true, //是否展示分页
                pageList:[2,5, 10, 20, 50],//分页组件
                pageNumber:1,
                pageSize:2,//默认每页条数
                //search:true,//是否显示搜索框
                //searchText:'试试',//初始化搜索文字
                showColumns:false,//是否显示 内容列下拉框
                showToggle:false,//是否显示 切换试图（table/card）按钮
                showPaginationSwitch:false,//是否显示 数据条数选择框
                showRefresh:false,//是否显示刷新按钮
                detailView:false,//设置为 true 可以显示详细页面模式。
                showFooter:false,//是否显示列脚
                clickToSelect: true, //是否启用点击选中行
                sidePagination:'client',//分页方式：client客户端分页，server服务端分页（*
                striped:true,
                queryParams:function(){
                    var userName = $('#userName').val();
                    var loginNumber = $('#loginNumber').val();
                    var timeStart = $('#timeStart').val();
                    var timeEnd = $('#timeEnd').val();
                    return {
                        page: this.pageNumber,
                        rows: this.pageSize,
                        brandName:userName,
                        loginNumber:loginNumber,
                        timeStart:timeStart,
                        timeEnd:timeEnd
                    }
                },
                columns:[
                    {field:'333',checkbox:true,width:'10%'},
                    {field:'brandId',title:'主键id',width:'10%'},
                    {field:'brandNumber',title:'编号',width:'10%'},
                    {field:'brandFirst',title:'头字母',width:'10%'},
                    {field:'brandName',title:'品名',width:'10%'},
                    {field:'brandCover',title:'照片',width:'8%',formatter:function(value,row,index){
                            return'<img width="50px" height="50px" src="'+value+'">'
                        }},
                    {field:'brandMovie',title:'视频',width:'10%',formatter:function(value,row,index){//value 当前字段值  row当前行的数据  index当前行
                            var ss="<video width='100' height='70' controls='controls'>"+
                                "<source src='/user/queryshi.do?id="+value+"' type='video/mp4'>"
                                +"</video>";

                            var button='<div style="margin-bottom:15px">'+
                                '<a class="btn btn-primary" href="javascript:openVideo(\''+row.pro_shi+'\')">视频详情</a>'+
                                '</div>';
                            return ss+'&nbsp;'+button;
                        }
                    },

                    {field:'123',title:'操作',width:'10%',formatter:function(value,row,index){
                            return '<button type="button" onclick="delUser('+row.brandId+')" class="btn btn-danger glyphicon glyphicon-minus">删除</button> | <button type="button" onclick="openUpdaeDialog('+row.brandId+')" class="btn btn-danger glyphicon glyphicon-minus">修改</button>';

                        }},

                ]
            })
        }


        //视频详情
        function openVideo(ids){
            alert(ids)
            var videoObject = {
                container:'#videos',
                variable:'player',
                autoplay:true,
                video:'<%=request.getContextPath()%>/user/queryshi.do?id='+ids,
                //前置广告
                adfront:'<%=request.getContextPath()%>/2w.gif',
                //广告时间
                adfronttime:'5',
                //后置广告
                adend:'<%=request.getContextPath()%>/xc.gif',
            };
            var player=new ckplayer(videoObject);
        }

    </script>
</html>