<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/js/bootstrap3/css/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/js/bootstrap-table/bootstrap-table.css}">
    <script th:src="@{/js/bootstrap3/js/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{/js/bootstrap-table/bootstrap-table-zh-CN.js}"></script>
    <script th:src="@{/js/bootstrap-bootbox/bootbox.js}"></script>
</head>
<body>

<table id="myTable"></table>


<script>
    $(function(){
        initMyTable();
    })



    function initMyTable(){
        $('#myTable').bootstrapTable({
            toolbar:'#toolbar',
            url:'/BrandName/selectList',
            pagination:true, //是否展示分页
            pageList:[5, 10, 20, 50],//分页组件
            pageNumber:1,
            pageSize:5,//默认每页条数
            //search:true,//是否显示搜索框
            //searchText:'试试',//初始化搜索文字
            showColumns:false,//是否显示 内容列下拉框
            showToggle:false,//是否显示 切换试图（table/card）按钮
            showPaginationSwitch:false,//是否显示 数据条数选择框
            showRefresh:false,//是否显示刷新按钮
            detailView:false,//设置为 true 可以显示详细页面模式。
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
            striped:true,
            queryParams:function(){
                var userName = $('#userName').val();
                return {
                    page: this.pageNumber,
                    rows: this.pageSize,
                    name:userName
                }
            },
            columns:[
                {checkbox:true},
                {field:'brandId',title:'id'},
                {field:'brandNo',title:'编号'},
                {field:'brandName',title:'名称'},
                {field:'text',title:'分类'},
                {field:'brandCover',title:'封面'},
                {field:'brandVideo',title:'视频'},
                {field:'brandState',title:'状态'},
                {field:'123',title:'操作',formatter:function(value,row,index){
                        return '<a href="javascript:openUserEdit('+row.brandId+');">修改</a>';
                    }}
            ]
        })
    }




</script>
</body>
</html>