<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap3/css/bootstrap.css}"></link>
</head>
<body class="container">
<div class="with:80%">
    <form class="form-horizontal"th:object="${listU}"  id="addForm">
        <input type="hidden" name="brandId" th:value="*{brandId}" />
        <div class="form-group">
            <label for="brandName" class="col-sm-2 control-label">品牌名称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="brandName"  id="userName" th:value="*{brandName}" placeholder="brandName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="brandFirst" class="col-sm-2 control-label" >头字母</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="brandFirst" id="password"  th:value="*{brandFirst}" placeholder="brandFirst"/>
            </div>
        </div>
        <div class="form-group">
            <label for="brandNumber" class="col-sm-2 control-label">编号</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="brandNumber"  id="brandNumber" th:value="*{brandNumber}" placeholder="brandNumber"/>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">视频:</div>
            <div class="col-xs-4">
                <input type="hidden" id="testMove" name="brandMovie" />
                <input type="file" multiple class="projectfile" accept="image/*" name="brandMovie" id="move">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-2">封面:</div>
            <div class="col-xs-4" style="width:400px">
                <input type="hidden" id="testimg" name="brandCover" />
                <input type="file" multiple class="projectfile" accept="image/*" name="brandCover" id="img">
            </div>
        </div>

    </form>
</div>
</body>

<script>
    $('#img').fileinput({
        language: 'zh', //设置语言
        uploadUrl: '/brand/upload', //上传的地址
        allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
        showUpload: true, //是否显示上传按钮
        showCaption: false,//是否显示标题
        browseClass: "btn btn-primary", //按钮样式
        //dropZoneEnabled: false,//是否显示拖拽区域
        //minImageWidth: 50, //图片的最小宽度
        //minImageHeight: 50,//图片的最小高度
        //maxImageWidth: 1000,//图片的最大宽度
        //maxImageHeight: 1000,//图片的最大高度
        //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
        //minFileCount: 0,
        maxFileCount: 2, //表示允许同时上传的最大文件个数
        enctype: 'multipart/form-data',
        validateInitialCount:true,
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

    }).on('fileuploaded', function(event, data, previewId, index) {
        var imgval = $('#testimg').val();
        if(imgval == null || imgval == "" || imgval == undefined){
            imgval =data.response.img;
        }else{
            imgval +=","+data.response.img;
        }
        $('#testimg').val(imgval);
    });

    $('#move').fileinput({
        language: 'zh', //设置语言
        uploadUrl: '/brand/upload2', //上传的地址
        allowedFileExtensions: ['mp4', 'rmvb', 'flv','rm'],//接收的文件后缀
        showUpload: true, //是否显示上传按钮
        showCaption: false,//是否显示标题
        //最大上传文件的大小（KB）
        maxFileSize : 200000,
        browseClass: "btn btn-primary", //按钮样式
        //dropZoneEnabled: false,//是否显示拖拽区域
        //minImageWidth: 50, //图片的最小宽度
        //minImageHeight: 50,//图片的最小高度
        //maxImageWidth: 1000,//图片的最大宽度
        //maxImageHeight: 1000,//图片的最大高度
        //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
        //minFileCount: 0,
        maxFileCount: 2, //表示允许同时上传的最大文件个数
        enctype: 'multipart/form-data',
        validateInitialCount:true,
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

    }).on('fileuploaded', function(event, data, previewId, index) {
        var imgval = $('#testMove').val();
        if(imgval == null || imgval == "" || imgval == undefined){
            imgval =data.response.move;
        }else{
            imgval +=","+data.response.move;
        }
        $('#testMove').val(imgval);
    });

</script>
</html>