<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>login</title>
	<link rel="stylesheet" type="text/css" th:href="@{/login/css/normalize.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/login/css/demo.css}" />
	<link rel="stylesheet" th:href="@{/login/js/vendor/jgrowl/css/jquery.jgrowl.min.css}"/>
	<!--必要样式-->
	<link rel="stylesheet" type="text/css" th:href="@{/login/css/component.css}" />
	<!--[if IE]>
	<script th:src="@{/login/js/html5.js}"></script>
	<![endif]-->
	<style>
		input::-webkit-input-placeholder{
			color:rgba(0, 0, 0, 0.726);
		}
		input::-moz-placeholder{   /* Mozilla Firefox 19+ */
			color:rgba(0, 0, 0, 0.726);
		}
		input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
			color:rgba(0, 0, 0, 0.726);
		}
		input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
			color:rgba(0, 0, 0, 0.726);
		}
	</style>
</head>
<body>
<div class="container demo-1">
	<div class="content">
		<div id="large-header" class="large-header">
			<canvas id="demo-canvas"></canvas>
			<div class="logo_box">
				<h3>MARS HELP</h3>
				<p th:text="${status}"></p>
				<form action="/login"  method="post">
					<div class="input_outer">
						<span class="u_user"></span>
						<input id="ID" name="username" class="text" style="color: #000000 !important" type="text" placeholder="请输入账户">
					</div>
					<div class="input_outer">
						<span class="us_uer"></span>
						<input id="PASSWORD" name="password" class="text" style="color: #000000 !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">
					</div>
					<div id="LOGIN" class="mb2"><a class="act-but submit" href="javascript:;" onclick="login()" style="color: #FFFFFF">登录</a></div>
				</form>
			</div>
		</div>
	</div>
</div><!-- /container -->
<script th:src="@{/login/js/TweenLite.min.js}"></script>
<script th:src="@{/login/js/EasePack.min.js}"></script>
<script th:src="@{/login/js/jquery.js}"></script>
<script th:src="@{/login/js/rAF.js}"></script>
<script th:src="@{/login/js/demo-1.js}"></script>
<script th:src="@{/login/js/vendor/jgrowl/jquery.jgrowl.min.js}"></script>
<script th:src="@{/login/js/Longin.js}"></script>
<div style="text-align:center;">
</div>
</body>
</html>

<p th:text="${status}"></p>
<!--action="login" 写配置文件中的LoginUrl中内容  -->
<form action="/boot/toIndex2" method="post">
	<!--username shiro默认的用户名属性  -->
	<input type="text" name="username"/><br/>
	<!--password shiro默认的用户名属性  -->
	<input type="password" name="password"/><br/>
	<input type="submit" value="登录"/><br/>
</form>
</body>
</html>