<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:src="@{/js/jquery-1.9.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap3/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/js/bootstrap3/css/bootstrap-theme.css}">

    <link rel="stylesheet" th:href="@{/js/bootStrap-addTabs/bootstrap.addtabs.css}">
    <link rel="stylesheet" th:href="@{/js/bootstrap-treeview/bootstrap-treeview.min.css}">
    <script th:src="@{/js/bootstrap3/js/bootstrap.js}"></script>
    <script th:src="@{/js/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
    <script th:src="@{/js/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>
</head>
<body>
<!--导航条  -->
<nav class="navbar navbar-inverse">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand">大数据</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand">JAVA</a>
        </div>

    </div>
</nav>
<!-- 内容布局容器 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div id="mytree"></div>
        </div>

        <div class="col-sm-10">
            <div id="myTabs">
                <!-- 新选项卡 -->
                <ul class="nav nav-tabs" id="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">欢迎</a>
                    </li>
                </ul>

                <!-- 选项卡下内容 -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


</body>
<script type="text/javascript">




    $("iframe").contents().find("html,body").scrollTop(0);
    var setHeight = $(window).height()-64-41;

    $.ajax({
        url:"/querytree",
        type:"post",
        data:{},
        datatype:'josn',
        success:function(result) {
            $("#mytree").treeview({
                color: "#428bca",
                //backColor: "black",背景色
                //borderColor:'green',
                collapseIcon: "glyphicon glyphicon-minus",//可收缩的节点图标
                //nodeIcon: "glyphicon glyphicon-user",
                emptyIcon: "glyphicon glyphicon-asterisk",//设置列表树中没有子节点的节点的图标
                expandIcon: "glyphicon glyphicon-leaf",  //设置列表上中有子节点的图标
                highlightSearchResults: true,//是否高亮搜索结果 默认true
                highlightSelected: true,     //是否选中高亮显示
                onhoverColor: "#f5f5f5",    //鼠标滑过的颜色
                levels: 1,                 //设置初始化展开几级菜单 默认为2
                selectedIcon: 'glyphicon glyphicon-tint',
                //selectedBackColor: 'black',  //设置被选中的节点背景颜色
                //selectedColor : 'red',      //设置被选择节点的字体、图标颜色
                showBorder: true,                //是否显示边框
                showCheckbox: false,              //是否显示多选框
                uncheckedIcon:'',             //设置未选择节点的图标
                //showTags:true,//显示徽章
                data: result, // 数据源
                onNodeChecked: function (event, data) {

                },
                onNodeSelected: function (event, data) {

                    $.addtabs({iframeHeight: setHeight + 'px'});
                    $.addtabs.add({
                        id: data.id,
                        title: data.text,
                        url: data.href,

                    });

                },
                onNodeEnabled: function (event, data) {
                    alert(data.id);
                }


            })
        }
    })

</script>
    </html>