<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" th:href="@{/easyui1.5/themes/icon.css}"/>
<link rel="stylesheet" th:href="@{/easyui1.5/themes/default/easyui.css}">
<script type="text/javascript" th:src="@{/jquery-1.8.0.js}"></script>
<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<script th:src="@{/jquery-1.9.1.min.js}"></script>
<script th:src="@{/bootstrap3/js/bootstrap.js}"></script>
<link rel="stylesheet" th:href="@{/bootstrap3/css/bootstrap.css}">
<script th:src="@{/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
<link rel="stylesheet" th:href="@{/bootstrap-treeview/bootstrap-treeview.min.css}">
<link rel="stylesheet" th:href="@{/bootStrap-addTabs/bootstrap.addtabs.css}">
<script th:src="@{/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>
<script th:src="@{/easyui1.5/jquery.easyui.min.js}"></script>
<script th:src="@{/easyui1.5/util-js.js}"></script>
<body>

<div>
    <div class="form-group">
        <div class="col-sm-2 control-label">
            <button type="button"class="btn btn-primary" data-toggle="modal" data-target="#myModal">创建根分类</button>
            <div>
                <ul id="powerTreeId"></ul>
            </div>
        </div>
    </div>
    <div id="mm" class="easyui-menu" style="width:120px;">
        <div onclick="append()" data-options="iconCls:'icon-add'">添加</div>
        <div onclick="edittree()" data-options="iconCls:'icon-add'">修改</div>
        <div onclick="remove()" data-options="iconCls:'icon-remove'">删除</div>
       <!-- <div onclick="imgAdd()" data-options="iconCls:'icon-remove'">添加图片</div>-->
    </div>

</div>
<!-- 权限弹框 -->
<div id="quanxian" class="easyui-dialog"
     data-options="title:'新增',iconCls:'icon-add',modal:true,closed:true,
					buttons:[{
						text:'保存',
						iconCls:'icon-save',
						plain:true,
						handler:function(){
							savetreeForm();
						}
					},{
						text:'关闭',
						iconCls:'icon-cancel',
						plain:true,
						handler:function(){
							closedend();
						}
					}]"9
     style="width: 500px; height: 150px; top:100px; left: 200px">
    <form id="quanxianForm" method="post">
        <table>
            <tr>
                <td>产品名称:</td>
                <td>
                    <input type="hidden" name="pid" id="trr"/>
                   <!-- <input type="hidden" name="id"/>-->
                    <input type="text" name="id" style="display:none"/>
                    <input type="text" name="text" class="easyui-textbox"/><br>
                </td>
            </tr>
        </table>
    </form>
</div>
</div>
<form method="post" th:action="@{/boot/addEasyuiTree}">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="text">请输入分类名称(可用逗号分隔批量添加)</label>
                        <input type="text" class="form-control"  name="text"  id="text">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-success">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--<ul id="powerTreeId"></ul>-->
<!-- 定义右击菜单选项 -->
<table id="powerDetailID"></table>
</body>
<script type="text/javascript">

    //权限框保存
    function savetreeForm(){
        $('#quanxianForm').form({
            url:'/boot/saveTreeBean',
            success:function(data){
                //刷新列表
                initPowerTree(-1);
                //关闭弹框
                closedend();
            }
        })
        $('#quanxianForm').submit();
    }

    //关闭权限弹框
    function closedend(){
        $('#quanxian').dialog('close');
    }
    //打开权限对话框
    function append(){
        //重置表单
        $('#quanxianForm').form('reset');
        var node= $("#powerTreeId").tree("getSelected");
        $("#trr").val(node.id);
        $('#quanxian').dialog({
            title:'新增产品',
            closed:false,
            iconCls:'icon-add'
        })
    }

    //修改权限回显
    function edittree(){
        var node= $("#powerTreeId").tree("getSelected");
        //获取回显数据
        $.ajax({
            url:'/boot/queryById',
            type:'post',
            data:{
                id:node.id
            },
            dataType:'json',
            success:function(data){
                $('#hideDetail').html(data.detail);
                $('#quanxianForm').form('load',data);
                opendDialog();
            }
        })

    }

    //打开修改弹框
    function opendDialog(){
        $('#quanxian').dialog({
            title:'修改产品',
            closed:false,
            iconCls:'icon-edit'
        })
    }
    //删除树
    function remove(){
        var node = $("#powerTreeId").tree("getSelected");
        $.post('/boot/delByIds',{'id':node.id},function(data){

            initPowerTree(0);
        })
    }
    $(function(){
        initPowerTree(0);
    })
    //树
    function initPowerTree(){
        $("#powerTreeId").tree({
            url: '/boot/getTreeBeanUtils',
            parentField: 'pid',
            //lines:true,
           // evels: 2,
           // checkbox:true,
            onContextMenu:function(e, node){
                e.preventDefault();
                // 点击当前节点触发
                $('#powerTreeId').tree('select', node.target);
                // 显示右击菜单
                $('#mm').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            },
            onDblClick:function(node){
                powerDetailID(node.id);
                $("#powerId").val(node.id);
            }
        })
    }
</script>
</html>