<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/easyui1.5/themes/icon.css}"/>
    <link rel="stylesheet" th:href="@{/easyui1.5/themes/default/easyui.css}">
    <link rel="stylesheet" th:href="@{/ztree/zTreeStyle/zTreeStyle.css}"type="text/css">
    <link rel="stylesheet" th:href="@{/ztree/demo.css}" type="text/css">
    <script type="text/javascript" th:src="@{/jquery-1.8.0.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <script th:src="@{/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/bootstrap3/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap3/css/bootstrap.css}">
    <script th:src="@{/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap-treeview/bootstrap-treeview.min.css}">
    <link rel="stylesheet" th:href="@{/bootStrap-addTabs/bootstrap.addtabs.css}">
    <script th:src="@{/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>
    <script type="text/javascript"th:src="@{/ztree/jquery.ztree.all.js}"></script>
    <script type="text/javascript" th:src="@{/ztree/jquery-1.4.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/ztree/jquery.ztree.core.js}"></script>
    <script th:src="@{/easyui1.5/jquery.easyui.min.js}"></script>
    <script th:src="@{/easyui1.5/util-js.js}"></script>
</head>
<body>
<div>
    <div class="form-group">
        <div class="col-sm-2 control-label">
            <button type="button"class="btn btn-primary" data-toggle="modal" data-target="#myModal">创建根分类</button>
            <div id="ztree3" class="ztree"></div>
        </div>
    </div>

    <div >
        <IFRAME ID="testIframe" Name="testIframe" FRAMEBORDER=0 SCROLLING=AUTO width=100% height=1000px></IFRAME>
    </div>
    <!--右键菜单定义如下：-->
    <div id="mm" class="easyui-menu" style="width:120px;">
        <div onclick="append()" data-options="iconCls:'icon-add'">追加</div>
        <div onclick="remove()" data-options="iconCls:'icon-remove'">移除</div>
    </div>
 </div>
</div>
<form method="post" th:action="@{/boot/savePidClass}">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">请输入分类名称(可用逗号分隔批量添加)</label>
                    <input type="text" class="form-control"  name="name"  id="name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
</body>
<script type="text/javascript">

    $('#ztree3').resizable({
        maxWidth:800,
        maxHeight:600
    });

    demoIframe = $("#testIframe");
    $(function() {
        var setting3 = {
            data : {
                simpleData : {
                    enable:true,
                    idKey: "id",
                    pIdKey: "pid",
                    rootPId: null
                }
            },
            view: {
                //支持html标签
               // fontCss: getFont,
                nameIsHTML: true,
                //expandSpeed: "slow",//节点展开、折叠时的动画速度
                showIcon: false,//是否显示节点的图标
                showLine: true,//显示节点之间的连线。
                selectedMulti: false,
                evels: 2,
                fontCss: { 'color': '#000066', 'font-family': '微软雅黑',"font-size": "20px" }
            },
            callback: {
                onRightClick: function(event, treeId, treeNode) {
                    alert("-----------")
                },
                //点击之前触发   		treeId//树的名字   	treeNode 该节点对象
                //如果返回 false，zTree 将不会选中节点，也无法触发 onClick 事件回调函数
                beforeClick: function (treeId, treeNode) {
                    //alert(treeId);
                    //alert(treeNode.iconSkin);
                    //获取到树对象
                    var zTree = $.fn.zTree.getZTreeObj("tree3");
                    //如果为顶级节点
                    if (treeNode.isParent) {
                        //expandNode通过 zTree 对象执行此方法。
                        //展开 / 折叠 指定的节点
                        zTree.expandNode(treeNode);
                        return false;
                    } else {
                        //否则  打开路径文件
                        //页面的话  相当于下个节点  css js 路径下一级 否则会找不到
                        demoIframe.attr("src","<%=request.getContextPath()%>"+treeNode.file);
                        return true;
                    }
                }
            },
        };
        var url = "/boot/queryZtreeList";
        $.ajax({
            url:url,
            dataType:'json',
            success:function(data){
                //alert(data)
                var zNodes=data;
                $.fn.zTree.init($("#ztree3"), setting3, zNodes);
            }
        })
    });
    //解决空值问题
    function getFont(treeId, node) {
        return node.font ? node.font : {};
    }

    // 右键点击节点并显示快捷菜单
    $('#ztree3').tree({
        onContextMenu: function(e, node){
            e.preventDefault();
            // 查找节点
            $('#ztree3').tree('select', node.target);
            // 显示快捷菜单
            $('#mm').menu('show', {
                left: e.pageX,
                top: e.pageY
            });
        }
    });


</script>
</html>