<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/bootstrap3/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap3/css/bootstrap.css}">
    <script th:src="@{/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap-treeview/bootstrap-treeview.min.css}">
    <link rel="stylesheet" th:href="@{/bootStrap-addTabs/bootstrap.addtabs.css}">
    <script th:src="@{/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>
</head>

<body>
<!-- 导航条 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">金科教育</a>
        </div>
    </div>
</nav>
<!-- 内容布局容器 -->
<div class="container-fluid" style="margin-top: 59px;">
    <div class="row">
        <div class="col-sm-2">
            <div id="myTree"></div>
        </div>
        <div class="col-sm-10">
            <div id="myTabs">
                <!-- 新选项卡 -->
                <ul class="nav nav-tabs" id="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" role="tab" data-toggle="tab">欢迎</a>
                    </li>
                </ul>

                <!-- 选项卡下内容 -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    $("iframe").contents().find("html,body").scrollTop(0);
    var setHeight = $(window).height()-64-41;

    $.ajax({

        url:"/boot/getBootTree",
        type:"post",
        data:{},
        datatype:'josn',
        success:function(result) {
            $("#myTree").treeview({
                color: "#428bca",
                //backColor: "black",背景色
                borderColor:'green',
                collapseIcon: "glyphicon glyphicon-minus",//可收缩的节点图标
                //nodeIcon: "glyphicon glyphicon-user",
                emptyIcon: "glyphicon glyphicon-asterisk",//设置列表树中没有子节点的节点的图标
                expandIcon: "glyphicon glyphicon-leaf",  //设置列表上中有子节点的图标
                highlightSearchResults: true,//是否高亮搜索结果 默认true
                highlightSelected: true,     //是否选中高亮显示
                onhoverColor: "#f5f5f5",    //鼠标滑过的颜色
                levels: 1,                 //设置初始化展开几级菜单 默认为2
                selectedIcon: 'glyphicon glyphicon-tint',
                //selectedBackColor: 'black',  //设置被选中的节点背景颜色
                //selectedColor : 'red',      //设置被选择节点的字体、图标颜色
                showBorder: true,                //是否显示边框
                showCheckbox: false,              //是否显示多选框
                //uncheckedIcon:'',             //设置未选择节点的图标
                //showTags:true,//显示徽章
                data: result, // 数据源
                onNodeChecked: function (event, data) {

                },
                onNodeSelected: function (event, data) {

                    $.addtabs({iframeHeight: setHeight + 'px'});
                    $.addtabs.add({
                        id: data.id,
                        title: data.text,
                        url: data.href,

                    });

                },
                onNodeEnabled: function (event, data) {
                    alert(data.id);
                }



            })
        }
    })

   /* $(function(){
        initMyTree();
    })
    function initMyTree(){
        $.ajax({
            url:'../order/getBootTree',
            type:'post',
            data:{},
            dataType:'json',
            success:function(result){
                $('#myTree').treeview({
                    data:result,
                    onNodeSelected:function(event,node){
                        $.addtabs({iframeHeight: 650});
                        $.addtabs.add({
                            id:node.id,
                            title:node.text,
                            url:node.href
                        });
                    }
                })
            }
        })

    }*/
</script>
</html>