<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
	<link  th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link  th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet">
	<link rel="stylesheet"  th:href="@{/css/calendar.css}">
    &lt;!&ndash; Toastr style &ndash;&gt;
    <link  th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet">
    <link  th:href="@{/css/plugins/chartist/chartist.min.css}" rel="stylesheet">
 	<link  th:href="@{/css/animate.css}" rel="stylesheet">
    &lt;!&ndash; Gritter &ndash;&gt;
    <link  th:href="@{/js/plugins/gritter/jquery.gritter.css}" rel="stylesheet">

    <link  th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet"  th:href="@{/js/bootStrap-addTabs/bootstrap.addtabs.css}">
    <link rel="stylesheet"  th:href="@{/js/bootstrap-treeview/bootstrap-treeview.min.css}">
    <link  th:href="@{/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}">

	<style type="text/css">
	#weather {
	  width: 425px;
	  margin: 0px auto;
	  text-align: center;
	  text-transform: uppercase;
	}
	#weather h2 {
	  margin: 0 0 8px;
	  color: #fff;
	  font-size: 150px;
	  font-weight: 300;
	  text-align: center;
	  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	}
	#weather ul {
	  margin: 0;
	  padding: 0;
	}
	#weather li {
	  background: #fff;
	  background: rgba(255,255,255,0.90);
	  padding: 20px;
	  display: inline-block;
	  border-radius: 5px;
	}
	#weather .currently {
	  margin: 0 20px;
	}
	p {
  margin: 0;
  padding: 0;
}

#clock {
  font-family: 'Share Tech Mono', monospace;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 88%;
  top: 25%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #FFDAB9;
  text-shadow: 0 0 20px 	#FFDAB9, 0 0 20px rgba(10, 175, 230, 0);
}
#clock .time {
  letter-spacing: 0.05em;
  font-size: 50px;
  padding: 5px 0;
}
#clock .date {
  letter-spacing: 0.1em;
  font-size: 20px;
}
::-webkit-scrollbar {

display:none
}
body {
overflow-x:hidden;

}
#weathers{
	position: absolute;
  	left: 68%;
  	top: 10%;
}
</style>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                       <div class="dropdown profile-element">
						   <span>
                            <img th:src="@{/imgs/1.jpg}"  height="100%" width="100%"><!--height="50" width="50" onclick="queryUserByMyId()" alt="image" class="img-circle" width="50px" height="50px" src="${activeUser.userHeadImg}" />-->
                            </span>
                           <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                           <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">&nbsp&nbsp&nbsp${activeUser.username}</strong>
                             </span> </span> </a>-->
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="active">
                        <ul class="nav nav-second-level" >
                        	<li id="myTree" ></li>
                        </ul>
                    </li>
				</ul>
			</div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row border-bottom">
	        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0;background: #213145;">
	        <div class="navbar-header" >
	            <!-- <a class="navbar-minimalize minimalize-styl-2" href="#">快捷方式</a> -->
	            <a class="navbar-minimalize minimalize-styl-2" href="javascript:initMyTree(-1)">商品列表</a>
	            <!-- <a class="navbar-minimalize minimalize-styl-2" href="javascript:initMyTree(2)">审批流转</a> -->
	            <a class="navbar-minimalize minimalize-styl-2" href="javascript:initMyTree(-1)">品名列表</a>
	            <a class="navbar-minimalize minimalize-styl-2" href="javascript:initMyTree(-1)">商品分类</a>
	            <a class="navbar-minimalize minimalize-styl-2" href="javascript:initMyTree(-1)">商品品牌</a>
	            <a class="navbar-minimalize minimalize-styl-2" href="javascript:initMyTree(-1)">商品颜色</a>
	            <a class="navbar-minimalize minimalize-styl-2" href="javascript:initMyTree(-1)">商品单位</a>
	           <!-- <a class="navbar-minimalize minimalize-styl-2" href="javascript:initMyTree(18)">工作任务</a>
	            <a class="navbar-minimalize minimalize-styl-2" href="javascript:initMyTree(88888)">人力资源</a>-->
	        </div>
	            <ul class="nav navbar-top-links navbar-right">
	                <li>
	                    <a href="#">
	                      <i class="fa  fa-plus" aria-hidden="true"></i>
	                    </a>
	                </li>
	                <li>
	                    <a href="../pageController/toIndex.do">
	                      <i class="fa fa-home"></i>
	                    </a>
	                </li>
	                <li>
	                    <a href="#">
	                      <i class="fa fa-bell-o" aria-hidden="true"></i>提醒
	                    </a>
	                </li>
	                <li>
	                    <a href="../userController/logout.do">
	                     <i class="fa fa-power-off" aria-hidden="true"></i>注销
	                    </a>
	                </li>
	               
	            </ul>
	        </nav>
        </div>
        <!-- 日历 时钟 -->
        <div id="welcomeDiv" >
        
	      <div>
	      		<div id="clock" >
				    <p class="date">{{ date }}</p>
				    <p class="time">{{ time }}</p>
				</div>
	        	<!-- <img alt="" src="../img/gallery/12.jpg" style="width:110%;height:1700px;margin-left:-15px;"> -->
	        	<img alt="" src="../imgs/1.jpg" style="width:110%;height:1100px;margin-left:-15px;margin-top:0px">
	       </div>
	      	<div>
	        	<!-- <div id="calendar" class="calendar" style="width:380px;height:450px;float:left"></div> -->
	        </div>
	        <div>
	        	<!-- <div id="clock" >
				    <p class="date">{{ date }}</p>
				    <p class="time">{{ time }}</p>
				</div>	 -->
		      	<div id="weathers">
<!-- 					<iframe width="420" scrolling="no" height="60" frameborder="0" allowtransparency="true" src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=5&site=12"></iframe>
 -->					<iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=2" width="770" height="70" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
				</div>
			</div>
			<!--  <div class="row">
	        	<div class="col-lg-6">
	                   <div class="ibox float-e-margins">
	                       <div class="ibox-title">
	                           <h5>我的会议 </h5>
	                       </div>
	                       <div class="ibox-content">
	                           <div id="ct-chart4" class="ct-perfect-fourth"></div>
	                       </div>
	                   </div>
	            </div>
        	</div> -->
        </div>
       
        <!-- 内容布局容器 -->
	<div class="container-fluid" style="margin-top:5px">
		<div class="row">
			<div class="col-sm-12">
				<div id="myTabs">
					<!-- 新选项卡 -->
					<ul class="nav nav-tabs" id="tablist">
						<li role="presentation" class="active">
						</li>
					</ul>
					<!-- 选项卡下内容 -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="home"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 树节点隐藏id -->
	<input type="hidden" id="hideId">
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
     <script th:src="@{/js/plugins/chartist/chartist.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vue.min.js}"></script>
    <!--<script src="/js/bootstrap-treeview/bootstrap-treeview.min.js"></script>-->
			<script th:src="@{/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
    <script th:src="@{/js/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}" ></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}" ></script>
	<script th:src="@{/js/calendar.js}"></script>
<script>
var clock = new Vue({
    el: '#clock',
    data: {
        time: '',
        date: ''
    }
});

var week = ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];
var timerID = setInterval(updateTime, 1000);
updateTime();
function updateTime() {
    var cd = new Date();
    clock.time = zeroPadding(cd.getHours(), 2) + ':' + zeroPadding(cd.getMinutes(), 2) + ':' + zeroPadding(cd.getSeconds(), 2);
    clock.date = zeroPadding(cd.getFullYear(), 4) + '-' + zeroPadding(cd.getMonth()+1, 2) + '-' + zeroPadding(cd.getDate(), 2) + ' ' + week[cd.getDay()];
};

function zeroPadding(num, digit) {
    var zero = '';
    for(var i = 0; i < digit; i++) {
        zero += '0';
    }
    return (zero + num).slice(-digit);
}
	//传的还是pid
    $(function(){
		initMyTree(-1);
		// Stocked horizontal bar

        new Chartist.Bar('#ct-chart4', {
            labels: ['星期日', '星期二', '星期三', '星期四', '星期五', '星期六','星期一'],
            series: [
                [5, 4, 3, 7, 5, 10, 3],
                [3, 2, 9, 5, 4, 6, 4]
            ]
        }, {
            seriesBarDistance: 10,
            reverseData: true,
            horizontalBars: true,
            axisY: {
                offset: 70
            }
        });
	})
	function initMyTree(id){
		$.ajax({
			url:'/boot/getBootTree',
			type:'post',
			data:{
				id:id
			},
			dataType:'json',
			success:function(result){
				$('#myTree').treeview({
					expandIcon: "glyphicon glyphicon-stop",
			          collapseIcon: "glyphicon glyphicon-unchecked",
			         // nodeIcon: "glyphicon glyphicon-user",
			          color: "white",
			          backColor: "#2f4050",
			          onhoverColor: "orange",
			          borderColor: "red",
			          showBorder: false,
			          showTags: true,
			          highlightSelected: true,
			          selectedColor: "yellow",
			          selectedBackColor: "darkorange",

					data:result,
					onNodeSelected:function(event, node){
						$("#welcomeDiv").hide();
						parameter(node.id);
						$.addtabs({iframeHeight: 1200});
						$.addtabs.add({
							id:node.id,
							title:node.text,
							url:node.href+"?id="+node.id
						});
					}
				
				})
			}
			
		})
	};
	function parameter(id){
		$('#hideId').val(id);
	}
</script>
</body>
</html>
