<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/jquery-1.9.1.min.js}"></script>
    <link rel="stylesheet" th:href="@{/easyui1.5/themes/icon.css}"/>
    <link rel="stylesheet" th:href="@{/easyui1.5/themes/default/easyui.css}">
    <script th:src="@{/easyui1.5/jquery.min.js}"></script>
    <script th:src="@{/easyui1.5/jquery.easyui.min.js}"></script>
    <script th:src="@{/easyui1.5/locale/easyui-lang-zh_CN.js}"></script>
    <script th:src="@{/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap-treeview/bootstrap-treeview.min.css}">
    <link rel="stylesheet" th:href="@{/bootStrap-addTabs/bootstrap.addtabs.css}">
    <script th:src="@{/bootStrap-addTabs/bootstrap.addtabs.min.js}"></script>
    <script th:src="@{/bootstrap3/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/bootstrap3/css/bootstrap.css}">
</head>
<body>
    <div>
        <div class="form-group">
            <div class="col-sm-2 control-label">
                <button type="button"class="btn btn-primary" data-toggle="modal" data-target="#myModal">创建根分类</button>
                <div id="myTree"></div>
            </div>
        </div>
    </div>

   <!-- <form method="post" th:action="@{/boot/addEasyuiTree}">-->
        <form method="post" th:action="@{/boot/addEasyuiTree}">
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="text">请输入分类名称(可用逗号分隔批量添加)</label>
                            <input type="text" class="form-control"  name="text"  id="text">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-success">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!--右键菜单定义如下：-->
    <div id="mm" class="easyui-menu" style="width:120px;">
        <div onclick="append()" data-options="iconCls:'icon-add'">追加</div>
        <div onclick="remove()" data-options="iconCls:'icon-remove'">移除</div>
    </div>

</body>
<script type="text/javascript">
    $('#myTree').tree({
        url:'/boot/geteasyuiTree',
        lines:true,
        evels: 2,
        onClick:function(node){
            if(node.children.length <=0){
                var exists = $('#myTabs').tabs('exists',node.text);
                if (!exists) {
                    $('#myTabs').tabs('add',{
                        title:node.text,
                       closable:true,
                        content:createIframe(node.url),
                        tools:[{
                           // iconCls:'icon-mini-refresh',
                            handler:function(){
                                $('#myTabs').tabs('update',{
                                    tab:$('#myTabs').tabs('getSelected'),
                                    options:{
                                        content:createIframe(node.url)
                                    }
                                });
                            }
                        }]
                    })
                }else{
                    $('#myTabs').tabs('select',node.text);
                }
            }
        }
    })
    function createIframe(url){
        return '<iframe scrolling ="auto" frameborder="0" src="'+'<%=request.getContextPath()%>'+ url +'" style="width:100%;height:100%;"></iframe>';
    }

    // 右键点击节点并显示快捷菜单
    $('#myTree').tree({
        onContextMenu: function(e, node){
            e.preventDefault();
            // 查找节点
            $('#myTree').tree('select', node.target);
            // 显示快捷菜单
            $('#mm').menu('show', {
                left: e.pageX,
                top: e.pageY
            });
        }
    });


</script>
</html>